@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100% !important;
  height: 100% !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white py-2 px-7 rounded cursor-pointer;
  }

  .input {
    @apply rounded-md py-2 px-3 outline-0;
  }
}
